<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Express App</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  {{{_sections.css}}}


</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow sticky-top">
    <a class="navbar-brand" href="#">
      <i class="fa fa-home" aria-hidden="true"></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
        </li>
      </ul>

      <form id="frmSignout" action="/account/logout" method="POST"></form>
      <ul class="navbar-nav">
        {{#if isAuthenticated}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Hi, <b>{{authUser.FirstName}}</b>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/account/profile">
              <i class="fa fa-user" aria-hidden="true"></i>
              Profile
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript: $('#frmSignout').submit();">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
              Sign Out
            </a>
          </div>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/account/register">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
            Regiter
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/account/login">
            <i class="fa fa-sign-in" aria-hidden="true"></i>
            Sign In
          </a>
        </li>
        {{/if}}
      </ul>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row" >
      <div class="col-sm-3" >
        {{#if_e authUser.Permission 2}}
        <div class="card shadow">
          <h5 class="card-header">Admin</h5>
          <div class="list-group">
            <a href="http://localhost:3000/admin/manageblogs/all" class="list-group-item list-group-item-action">Quản lí
              bài viết (All)</a>
            <a href="http://localhost:3000/admin/manageblogs/category"
              class="list-group-item list-group-item-action">Quản lí bài viết (Categories)</a>
            <a href="http://localhost:3000/admin/manageblogs/tag" class="list-group-item list-group-item-action">Quản lí
              bài viết (Tags) </a>
            <a href="http://localhost:3000/admin/manageusers" class="list-group-item list-group-item-action">Quản lí
              Users</a>
            <a href="http://localhost:3000/admin/manageparents" class="list-group-item list-group-item-action">Quản lí
              chuyên mục gốc (Parents)</a>
            <a href="http://localhost:3000/admin/managecategory" class="list-group-item list-group-item-action">Quản lí
              chuyên mục con (Categories)</a>
            <a href="http://localhost:3000/admin/renewal" class="list-group-item list-group-item-action">Gia hạn độc giả
              (Subcriber)</a>
            <a href="http://localhost:3000/admin/percategory" class="list-group-item list-group-item-action">Phân công
              chuyên mục (Editor)</a>
          </div>
        </div>
        {{/if_e}}
        {{#if_e authUser.Permission 2}}
        <div class="card shadow">
          <h5 class="card-header">Editor</h5>
          <div class="list-group">
            <a href="percategory" class="list-group-item list-group-item-action">Xem bai</a>
            <a href="renewal" class="list-group-item list-group-item-action">Dang bài</a>
          </div>
        </div>
        {{/if_e}}
        {{#if_e authUser.Permission 1}}
        <div class="card shadow">
          <h5 class="card-header">Writter</h5>
          <div class="list-group">
            <a href="percategory" class="list-group-item list-group-item-action">Xem bai</a>
            <a href="renewal" class="list-group-item list-group-item-action">Dang bài</a>
          </div>
        </div>
        {{/if_e}}
      </div>
      <div class="col-sm-9">
        {{{body}}}
      </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {{{_sections.js}}}
</body>

</html>