<div class="card shadow">
    <h4 class="card-header">Danh sách Subscriber </h4>
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="text-center" scope="col">IDUser</th>
                <th scope="col">Tên Subscriber</th>
                <th scope="col">Email</th>
                <th scope="col">Ngày hết hạn</th>
            </tr>
        </thead>
        <tbody>
            {{#each this.listsub}}
            <tr>
                <th class="text-center" scope="row">{{Username}}</th>
                <td>{{FirstName}}</td>
                <td>{{Email}}</td>
                <td>{{EXP}}</td>
                <td class="text-right">
                    <a class="btn btn-primary" href="/admin/renewal/update/{{Username}}" role="button">
                        Xem
                    </a>
                </td>
            </tr>
            {{/each}}

        </tbody>
    </table>
</div>