<!-- ##### Tin mới & Nổi bật trong tuần Start ##### -->

<!-- ##### Tin mới ##### -->
<div class="popular-news-area section-padding-80-50 mt-30">
    <div class="container">

        <div class="row">
            <div class="col-12 col-lg-6 ">
                {{#each Query3}}
                <div class="single-blog-post box-shadow">
                    <!-- Post Thumbnail -->
                    <div class="post-thumbnail">
                        <img src="{{AvatarBlog}}" alt="">
                        <!-- Catagory -->
                        <div class="post-cta"><a href="/category/{{IDCategory}}/blog/{{IDBlog}}">Thế giới</a></div>
                    </div>
                    <!-- Post Content -->
                    <div class="post-content">
                        <a href="/category/{{IDCategory}}/blog/{{IDBlog}}" class="headline">
                            <h5>{{Tittle}}</h5>
                        </a>
                        <p>{{SortContext}}</p>
                        <!-- Post Meta -->
                        <div class="post-meta">
                            <p><a href="#" class="post-author">Hoài Thi</a>Ngày đăng<a href="#" class="post-date"> 3
                                    tháng 5
                                    2019</a></p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            <div class="col-12 col-lg-6">
                {{#each Query2}}
                <div style = "height: 97px;" class="single-blog-post post-style-5 d-flex wow align-items-center ">
                    <!-- Post Thumbnail -->
                    <div style="
    min-width: 97px;
" class="post-thumbnail">
                        <img style="
    width: 97px;
    height: 97px;
" src="{{AvatarBlog}}" alt="">
                    </div>
                    <!-- Post Content -->
                    <div class="post-content">
                        <a href="/category/{{IDCategory}}/blog/{{IDBlog}}" class="headline">
                            <h5 style = "     height: 35px;
    overflow: hidden;
    width: 210px;">{{Tittle}}</h5>
                        </a>
                        <!-- Post Meta -->
                        <div class="post-meta">
                            <p><a href="#" class="post-author">Tên tác giả</a> Ngày đăng <a href="#" class="post-date">
                                    3 tháng
                                    5 2019</a></p>
                        </div>
                    </div>
                </div>
                {{/each}}

            </div>
        </div>
    </div>
</div>



<div class="popular-news-area section-padding-80-50 mt-30">
    <div class="container">
        <div class="row">
            <div class="section-heading">
                <h6> Nổi bật mỗi chuyên mục</h6>
            </div>


            <div class="row">


                <!-- Single Post -->
                <div class="col-12 col-md-6 ">
                    <div class="single-blog-post style-3">
                        <div class="post-thumb">
                            
                            <a href="singlenews.html"><img src="img/bg-img/13.jpg" alt=""></a>
                        </div>
                        <div class="post-data">
                            <a href="category.html" class="post-catagory">Bóng Đá</a>
                            <a href="singlenews.html" class="post-title">
                                <h6>Thầy Park chính thức “vi hành” ở châu Âu, soi giò cầu thủ Việt kiều...</h6>
                            </a>
                            <div class="post-meta d-flex align-items-center">
                                <a href="#" class="post-like"><img src="img/core-img/like.png" alt="">
                                    <span>256</span></a>
                                <a href="#" class="post-comment"><img src="img/core-img/chat.png" alt="">
                                    <span>55</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Post -->
                <div class="col-12 col-md-6 ">
                    <div class="single-blog-post style-3">
                        <div class="post-thumb">
                            <a href="singlenews.html"><img src="img/bg-img/13.jpg" alt=""></a>
                        </div>
                        <div class="post-data">
                            <a href="category.html" class="post-catagory">Bóng Đá</a>
                            <a href="singlenews.html" class="post-title">
                                <h6>Thầy Park chính thức “vi hành” ở châu Âu, soi giò cầu thủ Việt kiều...</h6>
                            </a>
                            <div class="post-meta d-flex align-items-center">
                                <a href="#" class="post-like"><img src="img/core-img/like.png" alt="">
                                    <span>256</span></a>
                                <a href="#" class="post-comment"><img src="img/core-img/chat.png" alt="">
                                    <span>55</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Post -->
                <div class="col-12 col-md-6 ">
                    <div class="single-blog-post style-3">
                        <div class="post-thumb">
                            <a href="singlenews.html"><img src="img/bg-img/13.jpg" alt=""></a>
                        </div>
                        <div class="post-data">
                            <a href="category.html" class="post-catagory">Bóng Đá</a>
                            <a href="singlenews.html" class="post-title">
                                <h6>Thầy Park chính thức “vi hành” ở châu Âu, soi giò cầu thủ Việt kiều...</h6>
                            </a>
                            <div class="post-meta d-flex align-items-center">
                                <a href="#" class="post-like"><img src="img/core-img/like.png" alt="">
                                    <span>256</span></a>
                                <a href="#" class="post-comment"><img src="img/core-img/chat.png" alt="">
                                    <span>55</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Post -->
                <div class="col-12 col-md-6 ">
                    <div class="single-blog-post style-3">
                        <div class="post-thumb">
                            <a href="singlenews.html"><img src="img/bg-img/13.jpg" alt=""></a>
                        </div>
                        <div class="post-data">
                            <a href="category.html" class="post-catagory">Bóng Đá</a>
                            <a href="singlenews.html" class="post-title">
                                <h6>Thầy Park chính thức “vi hành” ở châu Âu, soi giò cầu thủ Việt kiều...</h6>
                            </a>
                            <div class="post-meta d-flex align-items-center">
                                <a href="#" class="post-like"><img src="img/core-img/like.png" alt="">
                                    <span>256</span></a>
                                <a href="#" class="post-comment"><img src="img/core-img/chat.png" alt="">
                                    <span>55</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Post -->
                <div class="col-12 col-md-6 ">
                    <div class="single-blog-post style-3">
                        <div class="post-thumb">
                            <a href="singlenews.html"><img src="img/bg-img/13.jpg" alt=""></a>
                        </div>
                        <div class="post-data">
                            <a href="category.html" class="post-catagory">Bóng Đá</a>
                            <a href="singlenews.html" class="post-title">
                                <h6>Thầy Park chính thức “vi hành” ở châu Âu, soi giò cầu thủ Việt kiều...</h6>
                            </a>
                            <div class="post-meta d-flex align-items-center">
                                <a href="#" class="post-like"><img src="img/core-img/like.png" alt="">
                                    <span>256</span></a>
                                <a href="#" class="post-comment"><img src="img/core-img/chat.png" alt="">
                                    <span>55</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Single Post -->
                <div class="col-12 col-md-6">
                    <div class="single-blog-post style-3">
                        <div class="post-thumb">
                            <a href="#"><img src="img/bg-img/13.jpg" alt=""></a>
                        </div>
                        <div class="post-data">
                            <a href="#" class="post-catagory">Bóng Đá</a>
                            <a href="#" class="post-title">
                                <h6>Thầy Park chính thức “vi hành” ở châu Âu, soi giò cầu thủ Việt kiều...</h6>
                            </a>
                            <div class="post-meta d-flex align-items-center">
                                <a href="#" class="post-like"><img src="img/core-img/like.png" alt="">
                                    <span>120</span></a>
                                <a href="#" class="post-comment"><img src="img/core-img/chat.png" alt="">
                                    <span>7</span></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>


<!-- Single Featured Post -->









<!-- ##### Nổi Bật & Mới mỗi chuyên mục  END ##### -->