
                <div class="category-posts-area ">
                    <div class ="section-heading mt-50">
                      {{#each this.NameCate}}
                        <h6>kết quả tìm kiếm</h6>
                       {{/each}}
                    </div>
                    <div class=""></div>
                    <!-- Single blog post -->
                    {{#each this.Blogs}}
                    <div class ="single-blog-post style-3 box-shadow d-flex align-items-center">
                         <!-- Post Thumbnail -->
                         <div class="post-thumbnail">
                                <img src={{AvatarBlog}} alt="">
                            </div>
                            <!-- Post Content -->
                            <div class="post-content">
                                <a href="/{{IDCategory}}/blog/{{IDBlog}}" class="headline">
                                    <h5>{{Tittle}}</h5>
                                </a>
                                <p>{{SortContext}}</p>
                                <!-- Post Meta -->
                                    <div class="post-meta">
                                            <p><a href="#" class="post-author">Hoai Thi</a> Ngày đăng <a href="#" class="post-date"> {{DateProduct}}</a></p>
                                     </div>
                                </div>

                            </div>
                    {{/each}}
                  
            </div>

   