<div class="card shadow">
  <h4 class="card-header">
    Bài viết bị từ chối
  </h4>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" width="10%">ID</th>
          <th scope="col" width="20%">Tiêu đề</th>
          <th scope="col" width="20%">Ngày đăng</th>
          <th scope="col" width="20%">Ngày tạo</th>
          <th scope="col" width="10%">Chỉnh sửa</th>
        </tr>
      </thead>
      <tbody>
        {{#each blogs}}
        <tr>
          <td>{{idblog}}</td>
          <td>{{tittle}}</td>
          {{#if dateproduct}}
          <td>{{moment dateproduct format="DD/MM/YYYY hh:mm:ss"}}</td>
          {{else}}
          <td>{{datepublic}}</td>
          {{/if}}
          <td>{{moment datepublic format="DD/MM/YYYY hh:mm:ss"}}</td>
          <td class="text-center">
            <a href="edit-post/{{idblog}}" class="btn btn-outline-primary" role="button">
              <i class="fas fa-pen"></i>
            </a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>