<div class="card shadow">
  <h4 class="card-header">
    Bài viết đã duyệt
  </h4>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" width="5%">ID</th>
          <th scope="col" width="20%">Tiêu đề</th>
          <th scope="col" width="10%">Tác giả</th>
          <th scope="col" width="15%">Chuyên mục</th>
          <th scope="col" width="15%">Ngày tạo</th>
          <th scope="col" width="15%">Ngày xuất bản</th>
          <th scope="col" width="10%">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        {{#each drafts}}
        <tr>
          <td>{{IDBlog}}</td>
          <td>{{Tittle}}</td>
          <td>{{NickName}}</td>
          <td>{{NameCategory}}</td>
          <td>{{DateProduct}}</td>
          <td>{{DatePublic}}</td>
          <td class="text-center">
            <a href="/writer/blog/edit/{{IDBlog}}" class="btn btn-outline-primary" role="button">
              <i class="fas fa-eye"></i>
            </a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>