{{#section 'css'}}
<!-- Tags Input -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="http://bootstrap-tagsinput.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.css">
{{/section}}

{{#section 'js'}}
<!-- Tiny MCE -->
<script
    src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=ezd73nxbzc7bu6e86g2l82jbbffke0mwevwrnyvc5q8h89j6"></script>
<script>
    $(function () {
        tinymce.init({
            selector: '#txtContent',
            height: 500,
            menubar: false,
            plugins: 'paste image link autolink lists table media',
            toolbar: [
                'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright',
                'forecolor backcolor',
                'table link image media',
            ],
        });
    })

  // $(function () {
  //   $('#avatar').fileinput({
  //     theme: 'fa',
  //     dropZoneEnabled: false,
  //     allowedFileExtensions: ['png', 'jpg', 'jpeg'],
  //     uploadUrl: '/add',
  //     uploadAsync: false
  //   })
  // })

  // fetch('/add-blog', {
  //   method: 'POST',
  //   headers: {
  //     'Content-Type': 'application/json'
  //   },
  //   body: JSON.stringify({
  //     blog: {
  //       IDCategory: IDCategory,
  //       Tittle: Tittle,
  //       Context: tinyMCE.get('txtContent').getContent(),
  //       SortContext: SortContext
  //     }
  //   })
  // });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="http://bootstrap-tagsinput.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>

{{/section}}


<div class="card shadow mt-3">
    <h4 class="card-header">
        Chi tiết bài viết
    </h4>
    <div class="card-body">
        <form method="POST">
            <!-- Title Input -->
            <div class="form-group">
                <label for="txtTitle">Tác giả</label>
                <input readonly class="form-control" id="txtTitle" name="Tittle" value="{{this.blog.Username}}">

            </div>
            <div class="form-group">
                <label for="txtTitle">ID Blog</label>
                <input readonly class="form-control" id="txtTitle" name="Tittle" value="{{this.blog.IDBlog}}">
            </div>
            <div class="form-group">
                <label for="txtTitle">Tiêu đề</label>
                <input readonly class="form-control" id="txtTitle" name="Tittle" value="{{this.blog.Tittle}}">
            </div>
            <div class="form-group">
                <label for="txtTitle">Tóm tắt</label>
                <textarea readonly class="form-control" id="txtTitle" name="Tittle">{{this.blog.SortContext}}</textarea>
            </div>
            <div class="form-group">
                <label for="txtTitle">Ảnh thumbnail</label>
                <input readonly class="form-control" id="txtTitle" name="Tittle" value="{{this.blog.AvatarBlog}}">
            </div>
            <div class="form-group">
                <label for="txtTitle">Chuyên mục</label>
                <input readonly class="form-control" id="txtTitle" name="Tittle" value="{{this.blog.NameCategory}}">
            </div>
            <div class="form-group">
                <label for="txtTitle">Ngày viết</label>
                <input readonly class="form-control" id="txtTitle" name="Tittle" value="{{dateproduct}}">
            </div>
            <div class="form-group">
                <label for="txtTitle">Trạng thái</label>
                <input readonly class="form-control" id="txtTitle" name="Tittle"
                    value="{{#if_e status 0}}Draft{{/if_e}} {{#if_e status 1}}Publish{{/if_e}}">
            </div>
            <div class="form-group">
                <label for="txtTitle">Ngày xuất bản</label>
                <input readonly class="form-control" id="txtTitle" name="Tittle"
                    value="{{#if_e status 0}}Chưa xuất bản{{/if_e}} {{#if_e status 1}} {{datepublic}} {{/if_e}}">
            </div>
            <!-- Content Input -->
            <div class="form-group mt-2">
                <label for="txtContent">Nội dung</label>
                <textarea readonly class="form-control" id="txtContent" name="Context"> {{this.blog.Context}}</textarea>
            </div>
            <div class="card-body">
                <label for="txtFullDes">Nhãn</label>
                <input readonly type="text" name="Tag" value="{{#each this.Tags}} {{NameTag}}, {{/each}}"
                    data-role="tagsinput"> </input>
            </div>
            <a class="btn btn-primary" href="/admin/manageblogs" role="button">
                <i class="fa fa-backward" aria-hidden="true"></i>
                List
            </a>
            <a class="btn btn btn-success" href="/admin/manageblogs/edit/{{this.blog.IDBlog}}" role="button">
                <i class="fa fa-pencil" aria-hidden="true"></i>
                Edit
            </a>
        </form>
    </div>
</div>