<div class="card shadow">
  <h4 class="card-header">
    Chỉnh sửa user
  </h4>
  <div class="card-body">
    {{#if this.error}}
    <div class="alert alert-danger" role="alert">
      Invalid categoryId. <a href="/admin/manageusers" class="alert-link">Go back</a>.
    </div>
    {{else}}
    <form method="POST" action="/admin/manageusers/update/{{id}}">
      <div class="form-group">
        <label for="txtCatID">Username</label>
        <input readonly type="text" class="form-control" id="txtCatID" name="" value="{{this.user.Username}}">
        <label for="txtCatID">Permission</label>
        <select class="custom-select" id="inputGroupSelect01" name="Permission">
             <option selected>{{this.user.Permission}}</option>
             {{#if_e per 0}}
             <option >1</option>
             <option >2</option>
             {{/if_e}}

              {{#if_e per 1}}
             <option >0</option>
             <option >2</option>
             {{/if_e}}

              {{#if_e per 2}}
             <option >0</option>
             <option >1</option>
             {{/if_e}}
            </select>
     </div>
      <a class="btn btn-primary" href="/admin/manageusers/view/{{id}}" role="button">
        <i class="fa fa-backward" aria-hidden="true"></i>
        List
      </a>
      <button type="submit" class="btn btn-outline-danger" formaction="/admin/manageusers/delete/{{id}}">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
        Delete
      </button>
      <button type="submit" class="btn btn-success">
        <i class="fa fa-check" aria-hidden="true"></i>
        Update
      </button>
    </form>
    {{/if}}
  </div>
</div>