<div class="card shadow">
    <h4 class="card-header">Danh sách người dùng</h4>
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="text-center" scope="col">ID User</th>
                 <th scope="col">Username</th>
                 <th scope="col">FirstName</th>
                <th scope="col">Email</th>
                 <th scope="col">Loại</th>
                <th scope="col" class="text-right">
                     <a class="btn btn-outline-success" href="/admin/manageusers/add" role="button">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Thêm
                    </a>
                </th>

            </tr>
        </thead>
        <tbody>
            {{#each this.listusers}}
            <tr>
                <th class="text-center" scope="row">{{IDuser}}</th>
                 <td>{{Username}}</td>
                 <td>{{FirstName}}</td>
                 <td>{{Email}}</td>
                 <td>{{#if_e this.Permission 0}}Subcriber [0]{{/if_e}} {{#if_e Permission 1}}Writer [1]{{/if_e}} {{#if_e Permission 2}}Editor [2]{{/if_e}}</td> 
                <td class="text-right">
                    <a class="btn btn-primary" href="/admin/manageusers/view/{{IDuser}}" role="button">
                        Chi tiết
                    </a>
                </td>
            </tr>
            {{/each}}
            
        </tbody>

        
    </table>
</div>