<div class="card shadow">
    <h4 class="card-header">Danh sách bài viết chờ duyệt</h4>
    
    <div class="rows">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-center" scope="col">ID Blog</th>
                    <th scope="col">Tiêu đề</th>
                    <th scope="col">Tóm tắt</th>
                    <th scope="col">Chuyên mục</th>
                </tr>
            </thead>
            <tbody>
                {{#each this.listblogs}}
                <tr>
                    <th class="text-center" scope="row">{{IDBlog}}</th>
                    <td>{{Tittle}}</td>
                    <td>{{SortContext}}</td>
                     <td>{{NameCategory}}</td>
                    <td class="text-right">
                        <a class="btn btn-primary" href="/f_writer/list_draft/{{IDBlog}}" role="button">
                            Chi tiết
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>